[submodule "posteriordb"]
	path = posteriordb
	url = https://github.com/stan-dev/posteriordb.git
[submodule "stein_thinning"]
	path = stein_thinning
	url = https://github.com/congyewang/stein_thinning.git
